.yui3-skin-sam .yui3-widget-stdmod,
.yui3-skin-sam .yui3-panel .yui3-widget-hd,
.yui3-skin-sam .yui3-panel .yui3-widget-ft {
  border-radius: 5px;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.yui3-skin-sam .yui3-panel .yui3-widget-ft {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: white;
}
/**
 * 	\9 = IE styles
 */
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-button-close {
  *background: url("sprite_icons.png") no-repeat 1px 1px;
  *font-size: 0;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-button-close:before {
  *content: none;
}
